@import '~normalize.css';
@import 'variables.scss';

*, *:before, *:after {
  box-sizing: border-box
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', 'Fira Sans', Roboto, Oxygen, Ubuntu, 'Droid Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 1.5;
  margin: 0;
  background: #ffe066;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input, select, textarea {
  &:focus {
    outline: none;
  }
}

.button {
  font-size: 16px;
  padding: 0 24px;
  border-radius: 8px;
  line-height: 34px;
  height: 36px;
  display: inline-block;
  position: relative;
  color: white;
  //background: $color-main;
  background: linear-gradient(135deg, #fab005 0%, $color-main 100%);
  border: 1px solid transparent;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  transition: 0.3s all ease;
  vertical-align: middle;

  &:hover {
    //background: darken($color-main, 5%);
    background: linear-gradient(135deg, darken(#fab005, 3%) 0%, darken($color-main, 3%) 100%);
  }

  &:focus {
    outline: none;
    border: 1px solid #f59f00;
  }
}
